<%- include("./partials/header") %>
<div class="form">
    <h1>Sign In</h1>
    <div class="form-container">
        <form action="/login" method="POST">
            <div class="row">
                <div class="col-25">
                    <label for="email">Email</label>
                </div>
                <div class="col-75">
                    <input type="email" placeholder="bob@gmail.com" name="email" id="email" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="password">Password</label>
                </div>
                <div class="col-75">
                    <input type="password" placeholder="password" name="password" id="password" required>
                </div>
            </div>
            <div class="row form-button">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
        <p>Do not have an account? <a href="/register"> Register here!</a></p>
</div>

<%- include("./partials/footer") %>
